<div>
  <input type='button' value='Start' ng-click="start()">
  <input type='button' value='Next' ng-click="next()">
  <!-- <input type='button' value='Stop' ng-click="stop()"> -->
 <hr>
 Status : <p id='status'/>
</div>