<!DOCTYPE html>
<html ng-app='jobapp'>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>PARSE PDFs</title>
</head>

<body class="body-content">
<h4>PARSE PDFs</h4>



<link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static_url('css/index.css') }}" rel="stylesheet" type="text/css">

<script src="{{ static_url('js/lib/jquery-1.9.1.js') }}"></script>
<script src="{{ static_url('js/lib/angular.min.js') }}"></script>
<script src="{{ static_url('js/lib/angular-route.min.js') }}"></script>
<script src="{{ static_url('js/lib/bootstrap.js') }}"></script>

<script src="{{ static_url('js/lib/sockjs.min.js') }}"></script>


<script src="{{ static_url('js/app.js') }}"></script>
<script src="{{ static_url('js/routes.js') }}"></script>


<script src="{{ static_url('js/services/ws.service.js') }}"></script>
<script src="{{ static_url('js/services/notify.js') }}"></script>


<script src="{{ static_url('js/controllers/job.ctrl.js') }}"></script>

<div class="main-container col-lg-12 col-md-12 col-sm-12" ng-view>

</div>

</body>
</html>

